body {
  background-image: url("images/supermercado.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
h1 {
  
  font-size: 37px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-style: italic;
}
h2 {
  color: yellow;
  font-size: 34px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-style: oblique;
}

.footer {
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  text-align: center;
}
.justificado:hover {
  text-align: justify;
  color: teal;
}

.cursiva-negrita {
  font-weight: bold;
  font-style: italic;
  font-size: 36px;
  color: orange;
  background-color
}
primer-div {
  background-color: teal;
  border: 10px solid limegreen;
  margin: 50px 25px 5px 10px;
  padding: 40px 20px 0px 5px;
  height: 160px;
  width: 225px;
}
.color-blanco {
  color: red;
  font-weight: bolder;
  font-style: justify;
  font-size: 40px;
}
p, h1 {
  font-size: 20px;
  color: aqua;
}
#flexs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.primerlista {
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: teal;
  text-align: center;
  color: rgb(12, 243, 12);
}
.last {
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}
.secondtothird {
  color: white;
}
a {
  background-color: rgb(143, 188, 178);
  color: black;
 
}
a:hover {
  font-style: oblique;
}
#miBoton {
  padding: 5px;
  background: light-gray;
  color: black;
  width: 100%
}
#miBoton:hover {
  padding: 5px;
  background: gray;
  color: brown;
  width: 100%
}
#miBoton:active {
  padding: 5px;
  background: green;
  color: blue;
  width: 100%
}
#principio {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color:black;

}
p a{
background-color:darkcyan;
color: rgb(21, 17, 245);
}

footer {
  color: blue;
font-size: 40px;
}
li{
  font-size:30px;
  font-style:oblique;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:red;
}